/* =============== About =================*/

.about {

}

.about__bio {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about__bio-image__container {
    width: 40%
}

.about__bio-image {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}

.about__bio-intro {
}

.about__bio-title {
    text-align: center;
}

.about__bio-excerpt {
    text-align: center;
}

.about__bio-description {
    width: 60%;
}
