/* =============== About =================*/

.about {

}

.about__bio {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    @media screen and (min-width: 768px) {
        flex-wrap: nowrap;
    }
}

.about__bio-image__container {
    width: 100;
    margin-bottom: spacing(extra-tight);

    @media screen and (min-width: 768px) {
        width: 40%;
        padding-right: spacing(extra-tight);
        margin-bottom: 0;
    }
}

.about__bio-image {
    display: block;
    margin: 0 auto;
    width: 100%;
    border-radius: 50%;
}

.about__bio-intro {
}

.about__bio-title {
    text-align: center;
}

.about__bio-excerpt {
    text-align: center;
}

.about__bio-description {
    width: 100%;

    @media screen and (min-width: 768px) {
        width: 60%;
        padding-left: spacing(extra-tight);
    }
}
